.footer_social_media_icons{
  
    gap: 15px;
    
}
.footer_social_media_icons>div{
   
    width: 100%;
    height: 100%;
}
.footer_social_media_icons img{
 
    width: 100%;
    height: 100%;
    
}